@import './varibles.scss';
@import './breakpoint.scss';

@include media-breakpoint-up(sm) {
  
$header-sm-font-base: $header-font-base / 2;

.navbar {

  &__box {
    font-size: 20px;
    padding: 7px;
  }

  &__title--large {
    font-size: $header-sm-font-base;
    line-break: $header-sm-font-base;
  }

  &__append {
    font-size: $header-sm-font-base / 4 * 3;

    a {
      padding: 3px 5px;
    }
  }

}

.post {
  font-size: $header-font-base / 2;

  &__body {
    padding: $post-gap-base / 2;
  }

  &__list-item h1 {
    font-size: $header-sm-font-base;
  }

  &__list-item {
    padding: 15px 15px;
    font-size: $header-sm-font-base / 2;
  }

}


.article {
  font-size: $header-font-base / 2;

  &__markdown {}

  @media (max-width: 767px) {
    .markdownBody { }
  }

}

}
